@model IEnumerable<Fernanda.Models.ImovelCode>
@{
    ViewBag.Title = "About";
}
<body class="page page-fale-conosco page_form  ">

    <div class="wrapper">
        <div class="content-wrapper">
            <div class="section_main_title" style="display: none;">
                <div class="container">
                    <h1>Sobre Mim<small><span class="hide">Sobre Mim</span></small></h1>
                </div>
            </div>
            <div class="wrapper_bread"><div class="container"><ol class="breadcrumb"><li><a href="/home">Página Inicial</a></li><li>Sobre Mim</li></ol></div></div>
            <section class="content">
                <div class="spark-screen">
                    <div class="container">
                        <div class="col-md-2 col-sm-12"></div>
                        <div class="background fale-conosco col-md-5 col-sm-12"></div>
                        <div class="col-md-5 col-sm-12">
                            <h2><strong>FERNANDA REGAL</strong></h2>
                            <p>
                                Atuante no mercado imobiliário a mais de 12 anos, minha trajetória nessa profissão encantadora começou em 2009 quando ingressei com trabalho administrativo de Locações.<br /><br />
                                Desde então, investi em estudo e conhecimento na área de Locações, mas achava que ainda era pouco para mim.<br /><br /> Foi então que resolvi me aprofundar no mercado de compra e venda e avaliação imobiliária.<br /><br />
                                Foi em 2020 que me especializei em Perita Avaliadora do Tribunal de Justiça do Rio de Janeiro.<br /><br />
                                Em 2022 ingressei na trajetória de imóveis na planta e seus lançamentos em uma das maiores incorporadoras do Brasil, a RJZ Cyrela. Onde desenvolvi e apurei meu conhecimento.<br /><br />
                                Hoje tenho a honra de atuar no mercado imobiliário de imóveis usados, novos e na planta, desde imóveis populares enquadrados no programa Minha Casa Minha Vida do Governo Federal até venda de alto padrão e mansões em todo o Rio de Janeiro.<br /><br />
                                Entender a necessidade do cliente e buscar intensamente o melhor em cada negócio, me fez  quem sou hoje. Buscamos nada menos que excelência e transparência.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    </body>