@model List<Fernanda.Models.ImovelCode>
@{
    ViewBag.Title = "About";
}
<body class="page pag_interna dinamic_page a-empresa  ">
    <div id="popup-_g0qhs00at" style="display: block;">
        <div class="wrapper">
        <div class="content-wrapper"><!-- Content Header (Page header) -->
            <section class="content-header d-none d-xl-block">
            <div class="section_main_title" style="display: none;">
                <div class="container"><h1>A empresa<small>
                    A empresa</small></h1></div></div>
            <div class="wrapper_bread"><div class="container"><ol class="breadcrumb"><li><a href="/home">Página Inicial</a></li><li>A empresa</li></ol></div></div></section>
            <section class="content"><!-- CONTENT -->
            <div class="spark-screen">
                <div class="container">
                <div class="row">
                    <div class="col-md-12 box-a-empresa box-page-custom"><h2 class="box-a-empresa box-page-custom" id="h2Dif">Sobre Mim</h2>
                    <section class="corpo"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</p><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</p></section></div></div></div></div></section></div>
    
        </div>
    </div><div class="full-loader">
        <div class="loading">
            <img alt="loading..." src="/img/loader.svg"><br>carregando
        </div>
    </div><div class="topper"><i class="fa fa-chevron-up"></i></div><a href="" class="callToActionChat" target="_blank" tooltip="Atendimento Online"><i class="fab fa-whatsapp"></i></a><div id="prechat"><div class="content_chat"><div class="window_chat"><header class="header_chat"><span>Atendimento Online</span><i class="fas fa-times" onclick="callChat()"></i></header><div class="form_chat"><form class="form_prechat"><input type="hidden" value="pre-chat" name="Tag"><h4>Insira seus dados e inicie uma conversa</h4><div class="form-group"><input type="text" class="form-control" id="nomeChat" name="Nome" aria-describedby="emailHelp" placeholder="Seu nome" required="required"></div><div class="form-group"><input type="email" class="form-control" id="emailChat" name="Email" placeholder="E-mail" required="required"></div><div class="form-group"><input type="text" class="form-control mask-tel" id="telefoneChat" name="TelResidencial" placeholder="Telefone" maxlength="15"></div><div class="text-right"><button type="submit" class="btn btn-primary">Iniciar conversa</button></div></form></div><footer class="footer_chat"><small></small></footer></div></div></div>
</body>