
@{
    ViewBag.Title = "Contato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="page page-fale-conosco page_form  ">
    <div class="wrapper">       
        <div class="content-wrapper">
            <div class="section_main_title" style="display: none;">
            <div class="container">
                <h1>Fale Conosco<small><span class="hide">Fale Conosco</span></small></h1></div></div>
        <div class="wrapper_bread"><div class="container"><ol class="breadcrumb"><li><a href="/home">Página Inicial</a></li><li>Fale Conosco</li></ol></div></div>
        <section class="content">
            <div class="spark-screen">
            <div class="container">
                <div class="col-md-2 col-sm-12"></div>
                <div class="fotoCapa col-md-5 col-sm-12"></div>
                <div class="hb-addressarea col-md-5 col-sm-12">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="hb-address">
                            <h1>
                                <a class="link-type" linktype="email" title="Entrar em contato" href="mailto:regalcorretora@gmail.com?subject=Ol%C3%A1%2C%20estou%20interessado(a)%20e%20gostaria%20de%20consultar%20um%20im%C3%B3vel%20com%20voc%C3%AA!&amp" target="_blank">
                                    <i class="fa fa-envelope">
                                </a></i>
                            </h1>
                            <h2>E-mail</h2>
                            <div class="hb-addressbox">
                                <p>regalcorretora@gmail.com</p>
                            </div>
                        </div>
                        <div class="hb-address">
                            <h1><a href="https://api.whatsapp.com/send/?phone=5521982379401&text&type=phone_number&app_absent=0" target="_blank"><i class="fa fa-phone"></a></i></h1>
                            <h2>Telefone</h2>
                            <div class="hb-addressbox">
                                <p>
                                    Telefone: +55 21 98237-9401<br />
                                    <span><a href="https://api.whatsapp.com/send/?phone=5521982379401&text&type=phone_number&app_absent=0" target="_blank">Whatsapp: +55 21 98237-9401</a></span>
                                </p>
                            </div>
                        </div>
                        <div class="hb-address">
                            <h1><a href="https://www.instagram.com/regalfernanda/" target="_blank"><i class="fab fa-instagram"></a></i></h1>
                            <h2>Instagram</h2>
                            <div class="hb-addressbox">
                                <p><a href="https://www.instagram.com/regalfernanda/" target="_blank">
    @@regalfernanda
</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
                </div>
                </div>
            </section>
            </div>
        </div>
            
</body>
